body, html {
    background-color: #cdedfd;
    background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);

}

.h1 {
    color: lightskyblue;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.h4 {
    color: #CF8A8D;
    font-family: 'Redressed', cursive;
    font-variant: small-caps;
    text-align: center; 
    font-size: 20px;
}
.topnav-centered {
    position: fixed;
    top: 0;
    left: 0;
    color: blueviolet;
    text-align: center;
    font-size: 27px;
    border: 1px solid blue;
    width: 100%;
    background-color: #cdedfd;
}
.topnav-centered a,
.topnav-centered a:visited{
    color: blueviolet;
    margin: 15px;
}

.container {
    color: gray;
    background-color: lightcyan;
    padding: 2px;
    margin: 3%;
    height: auto;
    width: auto;
    border: 20px solid paleturquoise;
    overflow: hidden;
}
img {
    float: left;
    width: 200px; height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    object-fit: contain;
}


