html {
background-color: lightcyan;
}

h1 {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    line-height: 20px;
}

 p #br-lightcoral{
     color: lightcoral;
 }

 a {
     text-decoration: none;
 }

 .uppercase {
     text-transform: uppercase;
 }
 
 a:hover {
     text-decoration: underline;
 }

 img {
    float: left;
    width: 35%;
    height: auto;
    padding-right: 20px;
    padding-bottom: 20px;
}